/* 弹框样式 */
.fudong{
	
	background: #d4edda;
	color: #155724;
	
}
.alltoast{
	position: fixed;
	top: 0;
	border-radius: 6px;
	width: 300px;
	left: 0;
	text-align: center;
	right: 0;
	margin:  auto;
	z-index: 9990;
	height: 40px;
	line-height: 40px;
	animation: tips_animate 1s ease-in-out;

}
.error{
	background: #F56C6C;
	color: #fff;
}
    @keyframes tips_animate {
        0% {
          transform: translateY(-50px);
		  opacity: 0;
        }
        50% {
          transform: translateY(50px);
		  opacity: 0.8;
        }
        100% {
			opacity: 1;
          transform: translateY(0px);
        }
      }
	