/* 陌筹自定义样式 */
*, html {
    font-family: "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
}

body {
    background-color: rgba(236, 240, 241, 0.3);
}
ul,li{
	list-style: none;
}
.mc_background {
    width: 100%;
}

input#email,
input#password {
    width: 260px;
    padding-right: 40px;
}

.card {
    width: auto;
    height: 450px;
    background-color: #ffffff;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.175);
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.175);
}

.card .card-top {
    width: 100%;
    height: 110px;
    background: url('../img/12.jpg');
    background-size: 100% 110px;
}

.card .card-pic {
    margin: 10px;
    position: relative;
}

.card .card-pic img {
    border: 5px solid;
    border-color: #FFFFFF;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    z-index: 100;
    top: -55px;
    left: 20px;
}

.card .card-author {
    position: relative;
    top: -47px;
    left: 130px;
    color: #FFFFFF;
    z-index: 50;
    font-size: 20px;
    display: inline;
}



.card .card-time {
    position: relative;
    top: -40px;
    left: 130px;
    z-index: 50;
    font-size: 15px;
    display: inline;
}

.card .card-title {
    font-size: 32px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 auto;
    margin-left: 28px;
    margin-right: 28px;
    margin-bottom: 0;
    margin-top: -30px
}

.card a {
    color: #000000;
}

.card a:hover {
    color: #34495e;
}

.card-author a {

    color: #FFFFFF;
}


.card-title p {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
}

.card .card-content {
    font-size: 14px;
    margin-left: 28px;
    margin-right: 28px;
    padding-bottom: 10px;
}

.card hr {
    margin-left: 28px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-right: 28px;
}

.card .card-tags {
    margin: auto;
    margin-left: 28px;
    margin-right: 28px;
}

.card .card-tags button {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    cursor: default;
}

.content-card {
    width: auto;
    height: auto;
    background-color: #ffffff;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.175);
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.175);
}

.content-card .content-card-title {
    background-color: #2f4154;
    width: auto;
    height: 130px;
    text-align: center;
    color: #ffffff;
}

.content-card .content-card-title p {
    width: auto;
    height: auto;
    margin: 0 auto;
    padding-top: 28px;
    font-size: 32px;
}

.content-card .content-card-pic {
    margin: 10px;
    position: relative;
    text-align: center;
}

.content-card .content-card-pic img {
    border: 5px solid;
    border-color: #FFFFFF;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    z-index: 100;
    top: -55px;
    left: 0;
    right: 0;
    margin: auto;
}

.content-card .content-card-state {
    margin: 10px;
    position: relative;
}

.content-card .content-card-state img {
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 100;
    top: -150px;
    right: -20px;
}

.content-card .content-card-main {
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
    padding-bottom: 30px;
    margin-top: 50px;
}

.content-card-main .infoStyle {
    text-align: center;
    font-size: 16px;
}

.content-card-main .titleStyle {
    width: 100%;
    height: auto;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 20px;
    font-size: 20px;
}

.content-card-main .contentStyle {
    width: 100%;
    height: auto;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 20px;
    font-size: 16px;
}

.contentStyle table {
    width: 100%;
    text-align: center;
}

.contentStyle th {
    text-align: center;
}

.contentStyle .tags {
    background-color: #2f4154;
    padding-top: 5px;
    padding-bottom: 5px;
}

#addContentBlock {
    display: none;
    margin-top: 20px;
}

#addContentBlock form {
    padding-left: 55px;
    padding-right: 55px;
}

#addContentTextarea {
    padding-top: 20px;
}

#addContentTextarea textarea {
    width: 100%;
    margin: 0 auto;
}

#addContentTextarea button {
    width: 100%;
    margin-top: 20px;
}

#customerBlock .buttonStyle {
    text-align: center;
    font-size: 16px;
    height: auto;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 20px;
}

#ownerBlock .buttonStyle {
    text-align: center;
    font-size: 16px;
    height: auto;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 20px;
}

#customerBlock button {
    width: 100%;
}

#ownerBlock button {
    width: 100%;
}

.classification-card {
    width: auto;
    height: auto;
    background-color: #ffffff;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.175);
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.175);
}

.request-table td { 
    margin: auto;
}

.request-table td p {
    margin: 0;
}

.joined-table td {
    vertical-align: baseline;
}

.person-info {
    width: auto;
    height: auto;
    background-color: #ffffff;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.175);
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.175);
    text-align: center;
}

.person-img {
    width: 100%;
    height: 150px;
    position: relative;
    background: url('../img/26.jpg');
    background-size: 100% 150px;
}

.person-img img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    border: 2px solid;
    border-color: #FFFFFF;
    margin: auto auto;
}

.function-list-group {
    padding-left: 0;
    margin-bottom: 20px;
}

.function-list-group a {
    color: #555;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-top: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.modify-info {
    width: auto;
    height: auto;
    background-color: #ffffff;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.175);
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.175);
    text-align: center;
}

/*阿福加的CSS*/
.content-card .content-card-title-sm {
    background-color: #2f4154;
    width: auto;
    height: 60px;
    text-align: center;
    color: #ffffff;
}

.content-card .content-card-title-sm p {
    width: auto;
    height: auto;
    margin: 0 auto;
    padding-top: 12px;
    font-size: 25px;
}

.content-card-main .pubBtnStyle {
    width: 100%;
    height: auto;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 1px;
    font-size: 20px;
}

.content-card-main .titleStyle-right {
    width: 100%;
    height: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    font-size: 20px;
}

.content-card-main .titleStyle-right strong {
    margin-left: 25px;
}

.titleStyle-right .hr-long hr {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: : 0px;
    margin-bottom: 5px;
}

.content-card-main .formStyle {
    width: 100%;
    height: auto;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
}

.content-card-main .contentStyle-right {
    width: 100%;
    height: auto;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 10px;
    font-size: 16px;
}
/*这里结束了阿福的CSS*/


/* Remodal样式 */
html.remodal-is-locked {
    overflow: visible;
}

.remodal,
.remodal * {
    font-family: "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
}

/* .remodal-overlay {
    background: rgba(33, 36, 46, 0.55);
}
 */
/* Flat-UI样式 */
nav {
    -webkit-box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.175);
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.175);
}

.container {
    min-width: 300px !important;
}



/*20150603 LuoLin*/
.log {
    display: inline-block;
    width: 100%
}
.log-line-left{
    float:left;
}

.log-line-left img{
    height:100%;
    vertical-align:middle;
}

.log-line-left a{
   cursor:pointer;
   color:#000000;
 
}
.log-title{
    font-size:16px
}
.log-title:hover{
    color: #16A085;
}

.log-line-right{
   
    float:right;
    color:#aaa;
    font-size:14px;
    margin-top: 9px;
}
.log-like{
    color: #e74c3c;
}

.log-see{
    color: #34495e;
}


.log-left-list{
        width: auto;
    height: auto;
    background-color: #ffffff;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.175);
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.175);
padding: 25px

}

.log-initiate{
         width: auto;
    height: auto;
    background-color: #ffffff;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.175);
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.175);
    padding: 25px
}

.log-left-list .log-item-title span{
    font-size: 16px
}

.log-left-list .log-item-title span:hover{
     color: #16A085;
}


.log-initiate .tags {
    background-color: #2f4154;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: default;
}
/* en */
/**
 * FormValidation (http://formvalidation.io)
 * The best jQuery plugin to validate form fields. Support Bootstrap, Foundation, Pure, SemanticUI, UIKit and custom frameworks
 *
 * @author      http://twitter.com/nghuuphuoc
 * @copyright   (c) 2013 - 2015 Nguyen Huu Phuoc
 * @license     http://formvalidation.io/license/
 */

.fv-has-feedback {
    position: relative;
}
.fv-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
}
.fv-has-feedback .fv-control-feedback {
    /*right: 15px;*/
}
.fv-help-block {
    display: block;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~ For Bootstrap form ~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.fv-form-bootstrap .help-block {
    margin-bottom: 0;
}
.fv-form-bootstrap .tooltip-inner {
    text-align: left;
}
/* Bootstrap stacked form without label */
.fv-form-bootstrap .fv-icon-no-label {
	top: 0;
}
.fv-form-bootstrap .fv-bootstrap-icon-input-group {
	z-index: 100;
}
/* Bootstrap inline form */
.form-inline.fv-form-bootstrap .form-group {
    vertical-align: top;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~ For Foundation form ~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.fv-form-foundation .fv-control-feedback {
    top: 21px;      /* The height of Foundation label */
    right: 15px;    /* The padding-right of .columns */
    width: 37px;
    height: 37px;
    line-height: 37px;
}
.fv-form-foundation .collapse .fv-control-feedback {
    top: 0;
    right: 0;
}
/* Foundation horizontal form */
.fv-form-horizontal.fv-form-foundation .fv-control-feedback {
    top: 0;
}
/* Foundation stacked form without label */
.fv-form-foundation .fv-icon-no-label {
	top: 0;
}
.fv-form-foundation .error .fv-control-feedback {
    color: #f04124;
}
/**
 * Foundation reset the bottom marin to 0 when the row has '.error' class
 * I need to adjust it when using tooltip to show the error
 */
.fv-form-foundation .error.fv-has-tooltip input, .error.fv-has-tooltip textarea, .error.fv-has-tooltip select {
    margin-bottom: 1rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~ For Pure form ~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~ */

.fv-form-pure .fv-control-feedback {
    top: 22px;      /* Height of Pure label */
    width: 36px;    /* Height of Pure input */
    height: 36px;
    line-height: 36px;
}
.pure-form-stacked.fv-form-pure .fv-control-feedback {
    top: 4px;
}
.pure-form-aligned .pure-control-group .fv-help-block {
    margin-top: 5px;
    margin-left: 180px;
}
.pure-form-aligned.fv-form-pure .fv-control-feedback,    /* Pure horizontal form */
.fv-form-pure .fv-icon-no-label {           /* Pure stacked form without label */
	top: 0;
}
.fv-form-pure .fv-has-error label,
.fv-form-pure .fv-has-error .fv-help-block,
.fv-form-pure .fv-has-error .fv-control-feedback {
    color: #CA3C3C;     /* Same as .button-error */
}
.fv-form-pure .fv-has-success label,
.fv-form-pure .fv-has-success .fv-control-feedback {
    /*color: #1CB841;*/     /* Same as .button-success */
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~ For Semantic form ~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~ */

.fv-form-semantic .fv-control-feedback.icon {
    right: 7px;
}
.fv-form-semantic .error .icon {
    color: #d95c5c;
}
/* Semantic horizontal form */
.fv-form-horizontal.fv-form-semantic .row {
    padding-bottom: 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~ For UIKit form ~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~ */

.fv-form-uikit .fv-control-feedback {
    top: 25px;      /* Height of UIKit label */
    width: 30px;    /* Height of UIKit input */
    height: 30px;
    line-height: 30px;
}
.fv-form-uikit .uk-text-danger {
    display: block;
}
/* UIKit horizontal form */
.uk-form-horizontal.fv-form-uikit .fv-control-feedback {
    /*line-height: normal;*/
    top: 0;
}
.fv-form-uikit .fv-has-error label,
.fv-form-uikit .fv-has-error .uk-form-label,
.fv-form-uikit .fv-has-error .fv-control-feedback {
    color: #D85030;     /* Same as .uk-form-danger */
}
.fv-form-uikit .fv-has-success label,
.fv-form-uikit .fv-has-success .uk-form-label,
.fv-form-uikit .fv-has-success .fv-control-feedback {
    /*color: #659F13;*/     /* Same as .uk-form-success */
}
/* UIKit stacked form without label */
.fv-form-uikit .fv-icon-no-label {
	top: 0;
}
/*
 *  Remodal - v0.6.4
 *  Flat, responsive, lightweight, easy customizable modal window plugin with declarative state notation and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */

/* ==========================================================================
   Remodal necessary styles
   ========================================================================== */

/* Hide scroll bar */

html.remodal-is-locked {
    overflow: hidden;
}

/* Anti FOUC */

.remodal,
[data-remodal-id] {
    visibility: hidden;
}

/* Necessary styles of the overlay */

.remodal-overlay {
    position: fixed;
    z-index: 9999;
    top: -5000px;
    right: -5000px;
    bottom: -5000px;
    left: -5000px;

    display: none;
}

/* Necessary styles of the wrapper */

.remodal-wrapper {
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;
    overflow: auto;

    text-align: center;

    -webkit-overflow-scrolling: touch;
}

.remodal-wrapper:after {
    display: inline-block;

    height: 100%;
    margin-left: -0.05em;

    content: "";
}

/* Fix iPad, iPhone glitches */

.remodal-overlay,
.remodal-wrapper {
    -webkit-transform: translateZ(0px);
}

/* Necessary styles of the modal dialog */

.remodal {
    position: relative;
    display: inline-block;
}

/* Anti-zoom. Font-size should be >= 16px. */

.remodal select,
.remodal textarea,
.remodal input,
.remodal select:focus,
.remodal textarea:focus,
.remodal input:focus {
    font-size: 16px;
}

/* ==========================================================================
   Remodal default theme
   ========================================================================== */

/* Default theme font */

/*.remodal,
.remodal * {
    font-family: "Exo 2", sans-serif;
}*/

/* Background for effects */

.remodal-bg {
    -webkit-transition: -webkit-filter 0.2s ease-out;
    -moz-transition: -moz-filter 0.2s ease-out;
    -o-transition: -o-filter 0.2s ease-out;
    transition: filter 0.2s ease-out;
}

body.remodal-is-active .remodal-bg {
    -webkit-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
}

/* Default theme styles of the overlay */

.remodal-overlay {
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;

    opacity: 0.2;
    /* background: rgba(33, 36, 46, 0.95); */
}

body.remodal-is-active .remodal-overlay {
    opacity: 1;
}

/* Default theme styles of the modal dialog */

.remodal {
    font-size: 16px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    padding: 35px;

    -webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-out;
    -moz-transition: -moz-transform 0.2s ease-out, opacity 0.2s ease-out;
    -o-transition: -o-transform 0.2s ease-out, opacity 0.2s ease-out;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);

    opacity: 0;
    color: #182a3c;
    background: #f4f4f4;
    background-clip: padding-box;
}

body.remodal-is-active .remodal {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);

    opacity: 1;
}

/* Vertical align of the modal dialog */

.remodal,
.remodal-wrapper:after {
    vertical-align: middle;
}

/* Close button */

.remodal-close {
    position: absolute;
    top: 5px;
    right: 5px;

    width: 28px;
    height: 28px;

    -webkit-transition: background 0.2s ease-out;
    -moz-transition: background 0.2s ease-out;
    -o-transition: background 0.2s ease-out;
    transition: background 0.2s ease-out;
    text-decoration: none;

    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.remodal-close:after {
    font-family: Arial, sans-serif !important;
    font-size: 28px;
    line-height: 28px;

    display: block;

    content: "×";
    cursor: pointer;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    text-decoration: none;

    color: #3e5368;
}

.remodal-close:hover,
.remodal-close:active {
    background: #3e5368;
}

.remodal-close:hover.remodal-close:after,
.remodal-close:active.remodal-close:after {
    color: #f4f4f4;
}

/* Dialog buttons */

.remodal-confirm,
.remodal-cancel {
    font-size: 10pt;

    display: inline-block;

    width: 120px;
    margin: 0 0 5px 0;
    padding: 9px 0;

    cursor: pointer;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    text-align: center;
    text-decoration: none;

    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-clip: padding-box;
}

.remodal-confirm {
    color: #16a085;
    border: 2px solid #16a085;
    background: #f4f4f4;
}

.remodal-confirm:hover,
.remodal-confirm:active {
    color: #f4f4f4;
    background: #16a085;
}

.remodal-cancel {
    color: #c0392b;
    border: 2px solid #c0392b;
    background: #f4f4f4;
}

.remodal-cancel:hover,
.remodal-cancel:active {
    color: #f4f4f4;
    background: #c0392b;
}

/* Media queries
   ========================================================================== */

@media only screen and (min-width: 641px) {
    .remodal {
        max-width: 700px;
        min-height: 0;
        margin: 20px auto;

        -webkit-border-radius: 6px;
        border-radius: 6px;
    }
}

/* IE8
   ========================================================================== */

.lt-ie9 .remodal-overlay {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F021242E, endColorstr=#F021242E);
}

.lt-ie9 .remodal {
    width: 700px;
    min-height: 0;
    margin: 20px auto;
}

.lt-ie9 .remodal-close:after {
    margin: auto;

    text-align: center;
}

.lt-ie9 .remodal-close:hover,
.lt-ie9 .remodal-close:active {
    background: transparent;
}

.lt-ie9 .remodal-close:hover.remodal-close:after,
.lt-ie9 .remodal-close:active.remodal-close:after {
    color: #3e5368;
}
