<!DOCTYPE html>
<html>

<head lang="zh-cn">
	<meta charset="utf-8">
	<title>众筹 | zChou</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<script src="js/jquery.min.js"></script>
	<link rel="icon" type="image/x-icon" href="./img/favicon.ico">
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="./css/flat-ui.css">
	<link rel="stylesheet" type="text/css" href="./css/zchou.css">
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<script src="js/bootstrap.js"></script>
	<script src="http://jssdk-v2.demo.qiniu.io/dist/qiniu.min.js"></script>
	<script src="ueditor/ueditor.config.js"></script>
	<script src="ueditor/ueditor.all.js"></script>
	<script src="js/jquery.remodal.js"></script>
	<script src="js/all.js"></script>
	<script src="js/vue.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<!-- 引入组件库 -->
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<style type="text/css">
	.content {
		padding: 100px 100px;
	}

	#ueditor {
		width: 100%;
		height: 400px;

	}

	.xiangmu {
		justify-content: space-between;
		display: flex;
	}

	.iptlist {
		margin-top: 10px;
		display: flex;
	}

	.iptlist p {
		width: 200px;
	}

	.iptlist input {
		width: 400px;

	}

	.ipttextarea {
		text-align: center;
	}

	.title {
		font-size: 22px;
		color: rgb(14, 76, 92);
		font-weight: 600;
	}
	.top_flex{
		width: 50%;
	}
.fundbox{
	margin-left: 30px;
	flex: 1;
}
.ipttextarea{
	width: 100%;
}

	.el-textarea__inner {
		width: 100%;
		width: 500px;
		height: 260px;
	}
	.submit{
	width: 300px;
	margin: 30px auto;
	margin-left: 500px;
	margin-top: 50px;
}
</style>

<body>
	<div id="app">
		<div class="mc_background remodal-bg">
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="container">
					<div class="navbar-header">

						<a class="navbar-brand" href="#">众筹平台</a>
					</div>
					<div class="collapse navbar-collapse" id="navbar-collapse">

						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="#">
									<span class="fui-user" title="用户"></span>
									<span style="margin-left: 4px;">{{username}}</span>
								</a>
							</li>

							<li>
								<a href="index.html">
									<span class="fui-exit" title="返回首页"></span>
									<span style="margin-left: 4px;">返回首页</span>
								</a>
							</li>

						</ul>
					</div>
				</div>
			</nav>



		</div>
		<div class="content">

			<div class="xiangmu">
				<div class="top_flex">
					<p class="title">填写详细项目信息</p>
					<div class="iptlist">
						<p>输入标题</p>
						<input type="text" v-model="title" placeholder="请输入标题" class="form-control">
					</div>
					<div class="iptlist">
						<p>输入众筹金额</p>
						<input type="text" v-model="money" placeholder="请输入众筹金额" class="form-control">
					</div>
					<div class="iptlist">
						<p>输入收款手机号</p>
						<input type="text" v-model="phone" placeholder="收款手机号" class="form-control">
					</div>
					<div class="iptlist">
						<p>填写回报收益</p>
						<input type="text" v-model="huibao" placeholder="填写回报收益" class="form-control">
					</div>
					<div class="iptlist">
						<p>输入标签</p>
						<input v-model="keys" type="text" placeholder="关键词" class="form-control">
					</div>
				</div>
				<div class="fundbox">
						<p class="title">简要概括项目内容</p>
						<el-input class="ipttextarea" type="textarea" v-model="fundcontent"></el-input>
					</div>
			</div>

			
			<div class="ue">
				<p class="title">填写商业计划书 <a style="font-size: 20px;float: right;" href="model.html">商业计划书模板</a></p>
				<div id="ueditor"></div>
			</div>

		</div>
		<button @click="submitobrder" class="btn btn-primary btn-embossed submit">提 交</button>
		
	</div>



</body>

<script>

	var VM = new Vue({
		el: '#app',
		data: {
			username: '',
			user: {},
			title: '',
			fundcontent: '',
			money: '',
			keys: '',
			phone: '',
			huibao: '',
		},
		methods: {
			submitobrder() {
				let intro = UE.getEditor('ueditor').getContent()
			
				if (!this.title) {
					app.error('请填写标题')
					return
				}
				if (!this.money) {
					app.error('请填写金额')
					return
				}
				if (!this.phone) {
					app.error('请填写收款账号')
					return
				}
				if (!this.keys) {
					app.error('请填写关键词')
					return
				}
				if (!this.huibao) {
					app.error('请填写回报收益')
					return
				}
				if (!this.fundcontent) {
					app.error('请填写内容')
					return
				}
				if (!intro) {
					app.error('请填写商业计划书')
					return
				}
				let user = this.user
				let data = {
					uid: user.id,
					username: user.nickname,
					picurl: user.pic,
					money: this.money,
					title: this.title,
					intro: intro,
					keys: this.keys,
					orcode: '',
					phone: this.phone,
					huibao: this.huibao,
					fundcontent:this.fundcontent
								}
				app.request('createfunding', data, (res) => {
					app.alert('发起成功，等待审核')
				})
			},





		},
		mounted() {
			// 富文本编辑器
			var ue = UE.getEditor('ueditor')
			if (localStorage.getItem('user')) {
				var user = JSON.parse(localStorage.getItem('user'))
				this.user = user
				this.username = user.nickname
			}

		}
	})

</script>

</html>